/*  ####################
    -----MAIN STUFF-----
    #################### */

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova,Helvetica,sans-serif;}
body {
    font-family: proxima-nova,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.15);}
a{
    text-decoration: none;}

/*  ##############################
    ------CONTENT CATEGORIES------
    ############################## */

.home{
    background-color: white;}
.scholarship{
    background-image: url('../images/scholarshipbg-01.png');
    background-size: 100%;
    color: white;
    width: 100%;}
.events{
    background-color: #808080;
    color: white;
    width: 100%;}
.Tcenter{
    padding: 3%;
    text-align: center;}
.Sbutton{
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    width: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    background-color: transparent;
    color: white;
    border-color: white;
    transition: .3s ease-out;}
.HomeSch{
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 500px;
    background-image: url('../images/HomeScholarship-white-01.png');
    background-size: 500px;
    background-repeat: no-repeat;
    border-style: none;
    box-shadow: 0 0 10px 3px rgba(41, 41, 41, 0.5);
    border-radius: 25px;
    transition: .2s ease-out;}
.HomeSch:hover{
    background-image: url('../images/HomeScholarship-orange-01.png');
    background-size: 500px;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 5px rgba(63, 63, 63, 0.24);
    transition: .2s ease-in;
    transform: scale(1.05);}
.HomeEvent{
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 500px;
    background-image: url('../images/HomeEvent-white-01.png');
    background-size: 500px;
    background-repeat: no-repeat;
    border-style: none;
    box-shadow: 0 0 10px 3px rgba(41, 41, 41, 0.5);
    border-radius: 25px;
    transition: .2s ease-out;}
.HomeEvent:hover{
    background-image: url('../images/HomeEvent-orange-01.png');
    background-size: 500px;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 5px rgba(63, 63, 63, 0.24);
    transition: .2s ease-in;
    transform: scale(1.05);}

/*  -----FOOTER-----
    ############### */

.footer {
    text-align: left;
    position: relative;
    width: 100%;
    padding: 100px;
    background-color: #313238;
    color: white;}
.footer h1{
    padding-left: 20px;}
.footer h2{
    padding-left: 20px;}
.footer h5{
    color: #bbb;
    text-align: center;
    clear: both;}
.footer p{
    padding:0 0 20px 20px;}

/* -----CONTACT FORM----- */

.contact{
    float: left;}
form{
    box-sizing: border-box!important;}
.form_group{
    display: flex;
    width: 615px;}
.form_item {
    margin-bottom: 15px;
    margin-left: 15px;
    width: 600px;}
.form_input{
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid white;
    color: white;
    width: 100%;
    line-height: normal;
    resize: none;
    background: transparent;}
.form_textarea{
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid white;
    color: white;
    width: 100%;
    line-height: normal;
    resize: none;
    background: transparent;}
.form_submit {
    display: block;
    margin-top: 20px;}
.button{
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    width: 600px;
    margin-bottom: 15px;
    margin-left: 15px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    background-color: transparent;
    color: white;
    border-color: white;
    transition: .3s ease-out;}
.button:hover{
    color: rgb(230,104,59);
    border-color: rgb(230,104,59);
    transition: .3s ease-in;}

/* NEWSLETTER */

.footer_block {
    margin-left: 50px;
    float: left;
    position: relative;
    margin-top: 48px;
    flex-basis: 305px;
    flex: 0 1 auto;}
.footer_title {
    margin-bottom: 20px;}

/* -----ICONS-----
##################*/

/* -----TWITTER----- */
    .clear{
        clear: right;}
    .icons{
        float: right;
        padding-bottom: 10px;}
    .twitter-icon{
        display: inline-block;
        text-align: center;
        width: 50px;
        height: 50px;
        background-image: url('../images/twitter-icon-white.png');
        background-size: 50px;
        background-repeat: no-repeat;
        transition: .2s ease-out;}
    .twitter-icon:hover{
        background-image: url('../images/twitter-icon-blue.png');
        background-size: 50px;
        background-repeat: no-repeat;
        transition: .2s ease-in;}
    .icon-btn{
        background: transparent;
        background-size: 50px;
        border: 0;
        height: 50px;
        width: 65px;}

/* -----FACEBOOK----- */

.facebook-icon{
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    background-image: url('../images/facebook-white-logo.png');
    background-size: 50px;
    background-repeat: no-repeat;
    transition: .2s ease-out;}
.facebook-icon:hover{
    background-image: url('../images/facebook-blue-logo.png');
    background-size: 50px;
    background-repeat: no-repeat;
    transition: .2s ease-in;}

/*  ##################
    -----ELEMENTS-----
    ################## */

img {
vertical-align: middle;}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 15px;
  position: absolute;}
.image{
    width: 30%;
    height: 60%;
    position:absolute;
    right:100px;
    bottom: 0;}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 0.2s ease;}
.homelist ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;}
.homelist ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: .4s ease;}
#ulstart{
    padding-inline-start: 30em;}
.homelist ul li a:hover{
    color:rgb(230,104,59);}
.info h1{
    padding-top: 45px;
    font-size: 65px;
    text-align: center;}
.info h3{
    padding: 1%;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;}
.info h2{
    margin-left: 20%;
    margin-bottom: 10px;
    font-weight: 700;}
.info p{
    margin-left: 20%;
    margin-bottom: 3%;
    width: 60%;}
.info span{
    color:rgb(230,104,59);}

/*-----NAV BAR-----*/

nav{
    padding: 1.5%;
    background-color: #313238;}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    align-items: center;}
.navbar .logo{
    width: 75px;
    cursor: pointer;
    margin-top: 0%;
    margin-left: -2%;}
.navbar .text{
    position: relative;
    color: white;}
.navbar .text span{
    color:rgb(230,104,59);}

/* slider */

#slider {
    overflow: hidden;}
@keyframes slider {
    0% { left: 0; }
    30% { left: 0; }
    33% { left: -100%; }
    63% { left: -100%; }
    66% { left: -200%; }
    95% { left: -200%; }
    100% { left: 0; }}
#slider figure {
    width:300%;
    position: relative;
    animation: 9s slider infinite;}
/* #slider figure:hover {
    animation-play-state: paused;} */
#slider figure img {
    width: 33.333333333%;
    height : 100%;
    float: left;}


