/* 1. Write the CSS to configure the nav element selector as a flex container with rows that wrap. */
nav{
    display: flex;
    flex-wrap: wrap;
}

/* 2. Write the CSS for a feature query that checks for support of the CSS grid layout. */

@supports (display: grid) {}

/* 3. Write the CSS to configure a grid for an id named container that has two columns and two rows. 
The first row is 100 pixels high. 

The first grid item in the second row takes up 75% of the width.*/

#container{
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 3;
height: 100px;
width: 75%;
}

/* 4. Write the CSS to configure a media query that triggers when the screen size is 1024 pixels or less. */

@media screen and (max-width: 1024px) {}

/* 5. Create a web page that displays eight of your favorite photos (or eight photos supplied by your instructor). The page layout
should implement either grid layout or flexbox to configure a responsive display. */

