*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.home{
    background-color: white;
}
.scholarship{
    background-color: rgb(230,104,59);
    color: white;
}

nav{
    padding: 1.5%;
    background-color: #313238;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.main{
    width: 100%;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    align-items: center;
}

.navbar .logo{
    width: 75px;
    cursor: pointer;
    margin-top: 0%;
    margin-left: -2%;
}

.navbar .text{
    position: relative;
    color: white;
}

.navbar .text span{
    color:rgb(230,104,59);
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: .4s ease;
}

.ulstart{
    padding-inline-start: 100px;
}

ul li a:hover{
    color:rgb(230,104,59);
}

.info h1{
    padding: 1%;
    font-size: 65px;
    text-align: center;
}

.info h3{
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;
}

.info span{
    color:rgb(230,104,59);
}

.TLicon{
    position: relative;
    height: 55px;
    width: 55px;
    padding: 8px;
    border-radius:40px;
    right: -500px;
    background-color: #313238;
    background-image: url("../WebFinalProject/images/TranslateIconWhite.png");
    background-size: 55px 55px;
    transition: .4s ease;
}

.TLicon:hover{
    background-image: url("../WebFinalProject/images/TranslateIconOrange.png");
}

.search-box{
    position: relative;
    background-color: #000;
    height: 55px;
    padding: 8px;
    border-radius:40px;
    right: -500px;
}

.search-box:hover .search-txt{
    width: 220px;
    height: auto;
}

.search-box:hover .search-btn{
    background: #fff;
}

.search-btn{
    text-decoration: none;
    background: #000;
    color:orangered;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-txt{
    padding: 0%;
    border: none;
    background: none;
    outline: none;
    color: #fff ;
    float: left;
    font-size: 16px;
    transition: 0.3s ease;
    line-height: 40px;
    width: 0px;
}

.image{
    width: 30%;
    height: 60%;
    position:absolute;
    right:100px;
    bottom: 0;
}


.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 0.2s ease;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 15px;
  position: absolute;

}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
